#header{
    -fx-background-image: url("/resources/header.png");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;
}

#back1{
    -fx-background-image: url("/resources/green.png");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;
    background-color:rgba(0,0,0,.3);
}

#back2{
    -fx-background-image: url("/resources/earthBack.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;
    background-color:rgba(0,0,0,.3);
}

#startBack{
    -fx-background-image: url("/resources/startBack.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;
    background-color:rgba(0,0,0,.3);
}


#footer{
    -fx-background-image: url("/resources/footer.png");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;

}
