#header{
    -fx-background-image: url("/resources/header.png");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;
}

#back{
    -fx-background-image: url("/resources/green.png");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;
    background-color:rgba(0,0,0,.3);
}


#exit{
    -fx-background-image: url("/resources/exit.png");
    -fx-background-repeat: stretch;
    -fx-background-size:  cover;
    -fx-background-position: center center;

}
